@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue-3/dist/bootstrap-vue-3.css';
@import "./_variables";
@import "./sass/_layout";
@import "./_overrides";

.p-toast.p-toast-top-right {
  z-index: 1000;
  top: 7rem;
}

$bg: #2d3a4b;
$light_gray: #fff;
$cursor: #fff;
$dark_gray: #889aa4;

.login-container {
  height: 100vh;
  width: 100vw;
  background-color: $bg;
  color: #FFF;

  .form-cont{
    border: 1px solid #FFF;
    height: fit-content;
  }

  .title{
    
  }
}

.img-responsive{
  width: 100%;
  height: auto;
}